tensorflow==2.15.1
pandas 
dvc
mlflow
ipykernel
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
streamlit
# opencv-python-headless
requests
mongoengine
python-box
colorlog
mediapipe
opencv-python 
mediapipe==0.10.9
scikit-learn 
matplotlib
fastapi
uvicorn
googletrans==4.0.0-rc1
gtts
-e .